<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script th:replace="common/head::static"></script>
</head>
<body>
<div class="layui-container" style="margin-top: 8%;">
    <div class="layui-row">
        <!--<form class="layui-form layui-form-pane" action="#">
            <div class="layui-form-item" pane>
                <label class="layui-form-label">任务名称</label>
                <div class="layui-input-inline" style="width: 22%;height: 37.3px;">
                    <input type="text" name="quartzJobName" autocomplete="off" class="layui-input">
                </div>

                <button lay-submit lay-filter="doSearchBtn" class="layui-btn" style="float: right;">
                    <i class="layui-icon layui-icon-search"></i>
                </button>
            </div>
        </form>-->
        <div class="demoTable">
            任务名称：
            <div class="layui-inline">
                <input class="layui-input" name="quartzJobName" id="demoReload" autocomplete="off">
            </div>
            <button class="layui-btn" data-type="reload">搜索</button>
        </div>
    </div>
    <div class="layui-row">
        <table id="quartzTable" lay-filter="quartz"></table>
    </div>
</div>
<script type="text/html" id="quartzTableBar">
    <div class="layui-btn-container">
        <!--<button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>-->
        <!--<button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>-->
        <!--<button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>-->
        <button class="layui-btn layui-btn-sm" lay-event="startJob">启动任务</button>
        <button class="layui-btn layui-btn-sm" lay-event="stopJob">停止任务</button>
        <button class="layui-btn layui-btn-sm" lay-event="startOnce">执行一次</button>
    </div>
</script>
<script type="text/javascript">
    let tableIns;
    layui.use(['table', 'form', 'jquery', 'layer'], function () {
        var table = layui.table
            , form = layui.form
            , layer = layui.layer;

        //加载任务列表
        tableIns = table.render({
            elem: '#quartzTable'
            , id: 'quartzTableId'
            // , height: 312
            // , method: 'post'
            // , contentType: 'application/json'
            , url: ctx + '/quartz/quartzList' //数据接口
            , page: true //开启分页
            , limits: [10, 20, 30, 40, 50, 60, 70, 80, 90]
            , loading: true

            , toolbar: '#quartzTableBar' //开启头部工具栏，并为其绑定左侧模板
            // , where: {}
            , parseData: function (res) { //res 即为原始返回的数据
                var data = res.data;
                return {
                    // "flag": res.flag, //解析接口状态
                    "status": res.status, //解析提示文本
                    "msg": res.message, //解析提示文本
                    "records": data.total, //解析数据长度
                    "rows": data.records //解析数据列表
                };
            }
            , response: {
                statusName: 'status' //规定数据状态的字段名称，默认：code
                , statusCode: 200 //规定成功的状态码，默认：0
                , msgName: 'msg' //规定状态信息的字段名称，默认：msg
                , countName: 'total' //规定数据总数的字段名称，默认：count
                , dataName: 'rows' //规定数据列表的字段名称，默认：data
            }
            , cols: [
                [ //表头
                    {type: 'checkbox', fixed: 'left'}
                    , {field: 'quartzJobId', title: 'ID', hide: true}
                    , {field: 'quartzJobName', title: '任务名称'}
                    , {field: 'quartzJobClass', title: '任务类全名', sort: true}
                    , {field: 'quartzJobGroup', title: '任务组'}
                    , {field: 'quartzJobCron', title: 'CRON表达式'}
                    , {field: 'quartzJobStatus', title: '任务状态', sort: true, templet: '#switchTpl'}
                    , {field: 'quartzJobParams', title: '任务参数', sort: true}
                    , {field: 'quartzJobDescription', title: '任务描述'}
                    , {
                    field: 'opt', title: '操作', templet: function (dRow) {
                        // console.log(dRow)

                        //得到当前行数据，并拼接成自定义模板
                        return '<a></a>'
                    }
                }
                ]
            ]
        });

        //数据表格重载
        var $ = layui.$, active = {
            reload: function () {
                var demoReload = $('#demoReload');

                //执行重载
                table.reload('quartzTableId', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        quartzJobName: demoReload.val()
                    }
                });
            }
        };

        $('.demoTable .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        //头工具栏事件
        table.on('toolbar(quartz)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：' + data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选' : '未全选');
                    break;
                case 'startJob':
                    startJobs(checkStatus);
                    break;
                case 'stopJob':
                    stopJobs(checkStatus);
                    break;
                case 'startOnce':
                    startOnce(checkStatus);
                    break;

                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':
                    layer.alert('这是工具栏右侧自定义的一个图标按钮');
                    break;
            }
            ;
        });

        //监听任务开关操作
        form.on('switch(quartzStatusDemo)', function (obj) {
            // layer.tips(this.value + ' ' + this.name + '：' + obj.elem.checked, obj.othis);

            let params = {}
            params.quartzJobId = this.value
            obj.elem.checked == true ?
                params.quartzJobStatus = '1' : params.quartzJobStatus = '0'
            $.ajax({
                url: ctx + '/quartz/switchJobStatus',
                data: params,
                success: function (res) {
                    console.log(res)
                    if (res.status == 200) {
                        layer.msg("任务" + (obj.elem.checked == true ? "启动" : "停止") + "成功！")
                    } else {
                        layer.msg("任务" + (obj.elem.checked == true ? "启动" : "停止") + "失败")
                    }
                },
                error: function (error) {
                    layer.msg("请求失败！")
                }
            })
        });

        //批量开启任务
        window.startJobs = function (checkStatus) {
            if (checkStatus.data.length <= 0) {
                layer.msg("未选择任务，请先选择至少一条任务！")
                return false;
            }
            $.ajax({
                url: ctx + '/quartz/startJobs',
                data: JSON.stringify(checkStatus.data),
                contentType: 'application/json',
                method: 'post',
                success: function (res) {
                    if (res.status == 200) {
                        layer.msg("启动成功！", {
                            icon: 1,
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                        }, function () {
                            // $('.demoTable .layui-btn').click();
                            tableIns.reload();
                        });

                    } else {
                        layer.msg('启动失败！！')
                    }
                },
                error: function (error) {
                    layer.msg('请求失败')
                }
            });
        }

        //批量停止任务
        window.stopJobs = function (checkStatus) {
            if (checkStatus.data.length <= 0) {
                layer.msg("未选择任务，请先选择至少一条任务！")
                return false;
            }
            $.ajax({
                url: ctx + '/quartz/stopJobs',
                data: JSON.stringify(checkStatus.data),
                contentType: 'application/json',
                method: 'post',
                success: function (res) {
                    if (res.status == 200) {
                        layer.msg("停止成功！", {
                            icon: 1,
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                        }, function () {
                            // $('.demoTable .layui-btn').click();
                            tableIns.reload();
                        });

                    } else {
                        layer.msg('启动失败！！')
                    }
                },
                error: function (error) {
                    layer.msg('请求失败')
                }
            });
        }


        //批量执行一次
        window.startOnce = function (checkStatus) {
            if (checkStatus.data.length <= 0) {
                layer.msg("未选择任务，请先选择至少一条任务！")
                return false;
            }
            $.ajax({
                url: ctx + '/quartz/startOnce',
                data: JSON.stringify(checkStatus.data),
                contentType: 'application/json',
                method: 'post',
                success: function (res) {
                    if (res.status == 200) {
                        layer.msg("操作成功！", {
                            icon: 1,
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                        });

                    } else {
                        layer.msg('启动失败！！')
                    }
                },
                error: function (error) {
                    layer.msg('请求失败')
                }
            });
        }
    });
</script>
<script type="text/html" id="switchTpl">
    <!-- 这里的 checked 的状态只是演示 -->
    <input type="checkbox" name="quartzJobStatus" value="{{d.quartzJobId}}" lay-skin="switch" lay-text="开|关"
           lay-filter="quartzStatusDemo" {{ (d.quartzJobStatus== '1') ? 'checked' : '' }} />
</script>
</body>
</html>