<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boot.business.quartz.mapper.QuartzMapper">
    <select id="getQuartzList" resultType="com.boot.business.quartz.vo.QuartzVo">
        SELECT
        job.JOB_ID as quartzJobId,
        job.JOB_NAME as quartzJobName,
        job.CRON as quartzJobCron,
        job.JOB_CLASS as quartzJobClass,
        job.JOB_GROUP as quartzJobGroup,
        job.JOB_STATUS as quartzJobStatus,
        job.DELETE_FLAG as deleteFlag,
        job.JOB_DESCRIPTION as quartzJobDescription,
        job.JOB_PARAMS as quartzJobParams
        FROM batch.t_quartz_job job
        WHERE job.DELETE_FLAG = '00'
        <if test="vo.quartzJobName != null and vo.quartzJobName!=''">
            job.JOB_NAME LIKE CONCAT('%', #{vo.quartzJobName}, '%')
        </if>
    </select>
</mapper>